/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of Eric Meyer's CSS Reset */
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*UI Colors*/
/*Text*/
/*---Animation-----*/
/*
$desktop: 1440px;
$laptop: 1280px;
$oldDesktop: 1004px; //for 1024 (+scroll 20px)
$tablet: 768px;
$phone: 480px;

@mixin respond-to($media) {
  @if $media == phonesee {
    @media only screen and (max-width: $phone) { //480px
      @content;
    }
  } @else if $media == phones {
    @media only screen and (max-width: $phone) { //from 480
      @content;
    }
  } @else if $media == tablets {
    @media only screen and (max-width: $oldDesktop) { //from 1004
      @content;
    }
  }@else if $media == medium-desktops {
    @media only screen and (max-width: $laptop) { //from 1280
      @content;
    }
  }
}
*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px; }
  .header :focus {
    outline-width: 1px;
    outline-color: #317AF7;
    outline-style: solid;
    outline-offset: 2px; }
  .header_home {
    max-width: 1210px;
    margin-left: 17.344%; }
    @media only screen and (max-width: 1680px) {
      .header_home {
        margin: auto; } }

.wrap-home {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding-bottom: 15px;
  z-index: 100; }

.logo {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #2F2F2F;
  text-decoration: none;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms; }
  .logo_home {
    letter-spacing: 0.2em;
    font-size: 25px; }
  .logo_beta:after {
    content: '';
    width: 29px;
    height: 17px;
    background-image: url("../img/beta.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    top: -5px; }
  .logo.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.main-menu {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 450ms;
          transition-delay: 450ms; }
  .main-menu.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }
  .main-menu__item {
    display: inline-block;
    margin-right: 50px; }
    .main-menu__item:last-child {
      margin-right: 0; }
  .main-menu__link {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: #3C3C3C;
    cursor: pointer;
    display: inline-block; }

.user-menu {
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms; }
  .user-menu.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }
  .user-menu__item {
    display: inline-block; }

.header_home .main-menu {
  -ms-flex-preferred-size: 35.5%;
      flex-basis: 35.5%; }

.header_home .main-menu__link {
  font-size: 14px; }

.header_home .user-menu__link {
  font-size: 14px; }

.user-menu__link {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
  display: inline-block;
  text-align: center; }
  .user-menu__link_in {
    color: #2C2C2C;
    padding: 11px 10px;
    margin-right: 10px; }
  .user-menu__link_up {
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 83px;
    height: 39px;
    padding: 11px 5px;
    background: #317AF7;
    border-radius: 10px; }

.form__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #317AF7;
  text-decoration: none; }
  .form__link_light {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #8E8E98; }

.form__btn {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #3C3C3C;
  padding: 9px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer; }

.btn_black-white {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  padding: 9px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms; }
  .btn_black-white.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.section-title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  color: #000; }
  @media only screen and (max-width: 1680px) {
    .section-title {
      font-size: 45px; } }

.section-title_light {
  color: #fff; }

.first-screen {
  background-image: url("../img/bg-first-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1680px) {
    .first-screen {
      background-size: cover; } }

.first-screen__text-content {
  max-width: 1210px;
  margin-left: 17.344%;
  padding-top: 660px; }
  @media only screen and (max-width: 1680px) {
    .first-screen__text-content {
      margin: auto; } }

.first-screen__title {
  max-width: 575px;
  margin-bottom: 50px;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms; }
  .first-screen__title.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }
  @media only screen and (max-width: 1680px) {
    .first-screen__title {
      margin-bottom: 40px; } }

.first-screen__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms; }
  .first-screen__advantages.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.first-screen__advantage-item {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  color: #C0C0C0;
  max-width: 330px;
  margin-right: 10.992%; }
  .first-screen__advantage-item:nth-child(2) {
    max-width: 360px; }
  .first-screen__advantage-item:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 1680px) {
    .first-screen__advantage-item {
      font-size: 28px; } }

.first-screen__b {
  color: #000; }

.pricing {
  background-color: #317AF7;
  padding: 50px 0 66px;
  margin-bottom: 50px;
  overflow: hidden; }

.pricing__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 12.396%;
  margin-left: 17.344%; }
  @media only screen and (max-width: 1680px) {
    .pricing__head {
      margin-right: auto;
      margin-left: auto;
      max-width: 1210px;
      margin-bottom: 40px; } }

.pricing__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #317AF7;
  background-color: #fff;
  padding: 14px 20px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block; }
  @media only screen and (max-width: 1680px) {
    .pricing__link {
      font-size: 16px; } }

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-707px);
          transform: translateX(-707px); }

.pricing__item {
  min-width: 917px;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px; }
  @media only screen and (max-width: 1680px) {
    .pricing__item {
      min-width: 800px; } }

.pricing__frame {
  min-width: 178px;
  height: 178px;
  border: 1px solid #C0C0C0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px; }
  @media only screen and (max-width: 1680px) {
    .pricing__frame {
      margin-right: 20px; } }

.pricing__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.pricing__title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 9px; }
  @media only screen and (max-width: 1680px) {
    .pricing__title {
      font-size: 28px; } }

.pricing__p {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 116.5%;
  color: #7D7D7D; }

.pricing__price-info {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  color: #317AF7; }
  .pricing__price-info span {
    display: inline-block; }

.pricing__wrap-price {
  font-size: 36px; }
  @media only screen and (max-width: 1680px) {
    .pricing__wrap-price {
      font-size: 28px; } }

.pricing__price {
  background-color: #317AF7;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px; }

.pricing__duration-nmb {
  background-color: #317AF7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px; }

.pricing__control-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.pricing__control img {
  width: 100%; }

.workflow {
  margin-bottom: 61px;
  margin-left: 17.344%;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms; }
  @media only screen and (max-width: 1680px) {
    .workflow {
      margin: auto;
      max-width: 1210px; } }
  .workflow.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.workflow__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1680px) {
    .workflow__head {
      margin-bottom: 40px; } }

.workflow__main-title {
  margin-right: 40px; }

.workflow__link {
  width: 161px;
  background-color: #000;
  color: #fff;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (max-width: 1680px) {
    .workflow__link {
      font-size: 16px; } }

.workflow__step {
  max-width: 300px;
  display: inline-block;
  margin-right: 11.154%;
  vertical-align: top; }
  .workflow__step:last-child {
    margin-right: 0; }

.workflow__title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 5px; }
  @media only screen and (max-width: 1680px) {
    .workflow__title {
      font-size: 28px; } }

.workflow__extra-link {
  color: #fff;
  background-color: #317AF7;
  border-radius: 5px;
  padding: 0 5px; }

.workflow__p {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #C0C0C0; }
  .workflow__p_sm {
    max-width: 248px;
    margin-left: auto; }

.motto {
  background-color: #100;
  background-image: url("../img/bg-everything.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 10.156% 50px;
  color: #fff;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 118px;
  margin-top: 61px;
  z-index: 50;
  position: relative;
  -webkit-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 800ms ease 100ms;
  transition: all 800ms ease 100ms;
  -webkit-transform: translate(0, 110%);
          transform: translate(0, 110%);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  @media only screen and (max-width: 1680px) {
    .motto {
      margin-right: auto;
      margin-left: auto;
      max-width: 1270px;
      font-size: 60px;
      margin-top: 50px; } }
  .motto.active-animation {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1; }

.form {
  padding: 35px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .form__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    letter-spacing: 0.02em;
    -webkit-font-feature-settings: 'kern' off;
            font-feature-settings: 'kern' off;
    color: #686E7D;
    margin-bottom: 20px; }
  .form__desc {
    margin-bottom: 25px;
    width: 390px; }
  .form__p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #212121;
    margin-bottom: 4px; }
    .form__p:last-child {
      margin-bottom: 0; }
  .form__input-wrap {
    margin-bottom: 15px; }
  .form__label-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 286px; }
  .form__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #212121;
    display: block;
    margin-bottom: 4px; }
  .form__input {
    width: 288px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #3C3C3C;
    padding: 8px 14px;
    border: 1px solid rgba(33, 33, 33, 0.08);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px; }
  .form ::-webkit-input-placeholder {
    color: #8E8E98; }
  .form ::-moz-placeholder {
    color: #8E8E98; }
  .form :-ms-input-placeholder {
    color: #8E8E98; }
  .form ::-ms-input-placeholder {
    color: #8E8E98; }
  .form ::placeholder {
    color: #8E8E98; }
  .form :focus {
    outline-width: 1px;
    outline-color: #317AF7;
    outline-style: solid;
    outline-offset: 0; }
  .form .form__password-wrap {
    position: relative;
    width: 288px; }
  .form__eye {
    background-color: #fff;
    border: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 14px;
    display: block;
    cursor: pointer;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHkSURBVHgB1ZRNTsJAFMfnlSadaGLqDfAE4g3wBnoCdQXEhQxVE1eUlYkKowtTWQkn0BuoJ5AbiCcQd2XBPN+rjBYpQV3pS5pOZt785v8+ZoT46wbzHMLw2ve82Ofx0VGl/2tgsxltA8CWEFggt8F4Ok/fPSJ2g6DS+Rbw5OSy4LruNYEGoxE2XFf2lNqxQHF6GhVzOagzfDjE9a+qJ4CtVpsVhaSgMUvBZARCC+FUa7VSdwp4dtbecBzUALiu1PxcsWkd5RHhjjChhSbA4+Mo73lwlwXTul1HNFUe0+ZOEJSVmEpR7saG7/Akw8j5IgOmCbYCIOkTa5SKZQo1TPscHu72eK/nOTeJwmazXaVQV5Uq73wNqdWKXhhkD9Ja+4gLTxTe8rTvFYnCB1JoyClphxkmPyocx9Kf5UWMPhVo4FA1QxLqs9IMpwtjhppzzA0uJbcLdjPU7VEkxSAonSc5BDCbVJA9TnDakQ8jx1fPE49LS/GTMfhcq5UnDubD6FflgiYsuzC+GfWsZp1ltjuMAbW/X7rlOSelpsMNTdV6ZPg8GF+C9+7AhoVNKLT22ayiz1fv4KByb9c4j4uLccFePYDRplK7vfT+bzwOosjw91mkKkPvR49Dlo0TL6SUg/RD8T/tDVMd9jVP9wnHAAAAAElFTkSuQmCC"); }
  .form input[type="checkbox"]:checked,
  .form input[type="checkbox"]:not(:checked),
  .form input[type="radio"]:checked,
  .form input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .form input[type="checkbox"]:checked + label,
  .form input[type="checkbox"]:not(:checked) + label,
  .form input[type="radio"]:checked + label,
  .form input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer; }
  .form input[type="checkbox"]:checked + label:before,
  .form input[type="checkbox"]:not(:checked) + label:before,
  .form input[type="radio"]:checked + label:before,
  .form input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff; }
  .form input[type="checkbox"]:checked + label:before,
  .form input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px; }
  .form input[type="radio"]:checked + label:before,
  .form input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%; }
  .form input[type="checkbox"]:checked + label:after,
  .form input[type="checkbox"]:not(:checked) + label:after,
  .form input[type="radio"]:checked + label:after,
  .form input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .form input[type="checkbox"]:checked + label:after,
  .form input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #317AF7;
    border-bottom: 4px solid #317AF7;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .form input[type="radio"]:checked + label:after,
  .form input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #317AF7; }
  .form input[type="checkbox"]:not(:checked) + label:after,
  .form input[type="radio"]:not(:checked) + label:after {
    opacity: 0; }
  .form input[type="checkbox"]:checked + label:after,
  .form input[type="radio"]:checked + label:after {
    opacity: 1; }
  .form__btn {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #3C3C3C;
    padding: 9px 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer; }

.tech {
  margin-bottom: 70px;
  position: relative; }
  .tech:before {
    content: '';
    display: block;
    width: 282px;
    height: 472px;
    background-image: url("../img/bg-tech.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -50px;
    z-index: -1; }
    @media only screen and (max-width: 1680px) {
      .tech:before {
        opacity: 0.8; } }

.tech__wrap {
  margin-left: 17.344%;
  margin-right: 17.344%; }
  @media only screen and (max-width: 1680px) {
    .tech__wrap {
      margin: auto;
      max-width: 1210px; } }

.tech__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1680px) {
    .tech__head {
      margin-bottom: 40px; } }

.tech__main-title {
  margin-right: 40px; }

.tech__link {
  width: 261px;
  background-color: #000;
  color: #fff;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (max-width: 1680px) {
    .tech__link {
      font-size: 16px; } }

.tech__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tech__radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 590px;
      flex-basis: 590px; }

.tech__radio-label {
  padding: 25px 0;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative; }

.tech__radio {
  position: absolute; }

.tech__radio-style {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #317AF7;
  color: #317AF7;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  padding: 20px; }
  @media only screen and (max-width: 1680px) {
    .tech__radio-style {
      font-size: 20px;
      padding: 15px; } }

.tech__radio:checked + .tech__radio-style {
  background-color: #317AF7;
  color: #fff; }

.tech__desc-list {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px; }

.tech__desc {
  background: #fff;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 20px 50px;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px; }

.tech_p {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #000; }
  @media only screen and (max-width: 1680px) {
    .tech_p {
      font-size: 16px; } }

.tech_p_light {
  color: #C0C0C0; }

.tech__b {
  font-style: normal;
  font-weight: 800; }

.tech__mail {
  color: #C0C0C0; }

.drop {
  margin-bottom: 50px; }

.drop__box {
  margin-left: 17.344%;
  margin-right: 17.344%;
  background-color: #317AF7;
  color: #fff;
  border-radius: 50px;
  padding: 277px 50px 42px;
  margin-bottom: 28px; }
  @media only screen and (max-width: 1680px) {
    .drop__box {
      margin-left: auto;
      margin-right: auto;
      max-width: 1210px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 210px; } }

.drop__head {
  margin-bottom: 211px; }
  @media only screen and (max-width: 1680px) {
    .drop__head {
      margin-bottom: 170px; } }

.drop__title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1680px) {
    .drop__title {
      font-size: 60px; } }

.drop__subtitle {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center; }
  @media only screen and (max-width: 1680px) {
    .drop__subtitle {
      font-size: 16px; } }

.drop__extra-info {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center; }
  @media only screen and (max-width: 1680px) {
    .drop__extra-info {
      font-size: 16px; } }

.drop__p {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: #444444; }
  @media only screen and (max-width: 1680px) {
    .drop__p {
      font-size: 16px; } }

.pulse {
  -webkit-box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
          box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
  -webkit-animation: pulse 2s ease-in infinite;
          animation: pulse 2s ease-in infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
            box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3); }
  60% {
    -webkit-box-shadow: 10px 10px 30px rgba(49, 122, 247, 0.5);
            box-shadow: 10px 10px 30px rgba(49, 122, 247, 0.5); }
  100% {
    -webkit-box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
            box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3); } }

@keyframes pulse {
  0% {
    -webkit-box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
            box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3); }
  60% {
    -webkit-box-shadow: 10px 10px 30px rgba(49, 122, 247, 0.5);
            box-shadow: 10px 10px 30px rgba(49, 122, 247, 0.5); }
  100% {
    -webkit-box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3);
            box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.3); } }

.feedback {
  margin-left: 17.344%;
  margin-right: 17.344%;
  margin-bottom: 80px; }
  @media only screen and (max-width: 1680px) {
    .feedback {
      margin-left: auto;
      margin-right: auto;
      max-width: 1210px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-bottom: 60px; } }

.feedback__title {
  margin-bottom: 50px; }
  @media only screen and (max-width: 1680px) {
    .feedback__title {
      margin-bottom: 20px; } }

.feedback__desc {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: #000;
  max-width: 770px; }
  @media only screen and (max-width: 1680px) {
    .feedback__desc {
      font-size: 28px; } }

.feedback__link {
  color: #317AF7; }

html,
body {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29px 0; }
  .footer :focus {
    outline-width: 1px;
    outline-color: #317AF7;
    outline-style: solid;
    outline-offset: 2px; }

.lang, .year {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #3B3B3B;
  text-decoration: none;
  cursor: pointer;
  margin-right: 36px; }

.footer-menu__item {
  display: inline-block;
  margin-right: 44px; }
  .footer-menu__item:last-child {
    margin-right: 0; }

.footer-menu__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #3B3B3B;
  text-decoration: none;
  cursor: pointer; }

.footer_home {
  margin-left: 19.635%;
  margin-right: 19.635%; }
  @media only screen and (max-width: 1680px) {
    .footer_home {
      margin-left: auto;
      margin-right: auto;
      max-width: 1210px; } }

.sign-in {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sign-in .header {
    margin-bottom: 55px; }
  .sign-in .user-menu__link_in {
    color: #CCCCCC; }

.sign-up {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .sign-up .header {
    margin-bottom: 55px; }
  .sign-up .user-menu__link_up {
    background-color: #EDEEEF;
    color: #fff; }

.password-recovery {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .password-recovery .header {
    margin-bottom: 55px; }
  .password-recovery .form__desc {
    margin-bottom: 25px;
    width: 290px; }

/*# sourceMappingURL=main.css.map */
