.password-recovery {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  box-sizing: border-box;

  @include respond-to(laptops){
    padding: 0 5%;
  }

  .header{
    margin-bottom: 55px;
  }

  .main-menu {
    flex-grow: 1;
    text-align: center;
  }

  .form__desc {
    margin-bottom: 25px;
    width: 290px;
  }
}

