.password-recovery {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  box-sizing: border-box;

  .header{
    margin-bottom: 55px;
  }

  .form__desc {
    margin-bottom: 25px;
    width: 290px;
  }
}

