.platform__title {
  margin-bottom: 50px;
  padding-left: 9%;

  @include respond-to(tablets){
    margin-bottom: 30px;
  }

  @include respond-to(phones){
    margin-bottom: 20px;
  }
}

.platform__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.platform__left {
  margin-right: 60px;
  padding-left: 9%;

  @include respond-to(tablets){
    margin-right: 20px;
  }
}

.platform__right {
  min-width: 34.247%;
}

.how-it-works__step {
  margin-bottom: 50px;

  @include respond-to(tablets){
    margin-bottom: 30px;
  }

  @include respond-to(phones){
    margin-bottom: 20px;
  }
}

.how-it-works__step:last-child{
  margin-bottom: 70px;

  @include respond-to(tablets){
    margin-bottom: 40px;
  }

  @include respond-to(phones){
    margin-bottom: 30px;
  }
}

.how-it-works__title {
  margin-bottom: 20px;

  @include respond-to(phones){
    margin-bottom: 10px;
  }
}

.how-it-works__p {
  text-indent: 20px;
}

.how-it-works__title + .how-it-works__p {
  text-indent: inherit;
}

.order-details__title {
  margin-bottom: 35px;

  @include respond-to(phones){
    margin-bottom: 25px;
  }
}

.order-details__item {
  font-family: $sans-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  margin-bottom: 25px;

  @include respond-to(tablets){
    font-size: 16px;
  }

  @include respond-to(phones){
    margin-bottom: 15px;
  }
}

.order-details__item:last-child{
  margin-bottom: 70px;

  @include respond-to(tablets){
    margin-bottom: 40px;
  }

  @include respond-to(phones){
    margin-bottom: 30px;
  }
}

.light-text {
  color: #C0C0C0;
}

.bank-cards {
  margin-top: 12px;
}

.bank-cards__img {
  margin-right: 20px;

  @include respond-to(phones){
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .platform__title {
    padding-left: 0;
  }

  .platform__content {
    flex-direction: column;
  }

  .platform__left {
    margin-right: 40px;
    padding-left: 0;

    @include respond-to(phones){
      margin-right: 20px;
    }
  }
}

