.main_requisites {
  padding-left: 9%;
  @media (max-width: 1024px) {
    padding-left: 0;
  }
}

.requisites__title {
  margin-bottom: 50px;

  @include respond-to(tablets){
    margin-bottom: 30px;
  }

  @include respond-to(phones){
    margin-bottom: 10px;
  }
}

.requisites__item {
  font-family: $sans-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000;

  @include respond-to(tablets){
    font-size: 16px;
  }

  @include respond-to(phones){
    font-size: 14px;
  }
}

.requisites__item_cap {
  text-transform: uppercase;
}
