.sign-up {
  max-width: 1116px;
  margin: auto;
  padding: 0 60px;
  box-sizing: border-box;

  .header{
    margin-bottom: 55px;
  }

  .user-menu__link_up {
    background-color: #EDEEEF;
    color: #fff;
  }
}

