.drop {
  margin-bottom: 50px;
}

.drop__box {
  margin-left: 17.344%;
  margin-right: 17.344%;
  background-color: $accent-color;
  color: #fff;
  border-radius: 50px;
  padding: 277px 50px 42px;
  margin-bottom: 28px;

  @include respond-to(laptops){
    margin-left: auto;
    margin-right: auto;
    max-width: 1210px;
    box-sizing: border-box;
    padding-top: 210px;
  }
}

.drop__head {
  margin-bottom: 211px;
  @include respond-to(laptops) {
    margin-bottom: 170px;
  }
}

.drop__title {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;

  @include respond-to(laptops){
    font-size: 60px;
  }
}

.drop__subtitle {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;

  @include respond-to(laptops) {
    font-size: 16px;
  }
}

.drop__extra-info {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;

  @include respond-to(laptops) {
    font-size: 16px;
  }
}

.drop__p {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  color: #444444;

  @include respond-to(laptops) {
    font-size: 16px;
  }
}

.pulse {
  box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.2);
  animation: pulse 2s ease-in infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.2);
  }
  60% {
    box-shadow: 10px 10px 30px rgba(49, 122, 247, 0.3);
  }
  100% {
    box-shadow: 2px 2px 8px rgba(49, 122, 247, 0.2);
  }
}















