.feedback {
  margin-left: 17.344%;
  margin-right: 17.344%;
  margin-bottom: 80px;

  @include respond-to(laptops){
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1210px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

  @include respond-to(phones){
    display: none;
  }
}

.feedback__title {
  margin-bottom: 50px;

  @include respond-to(laptops) {
    margin-bottom: 20px;
  }
}

.feedback__desc {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  color: #000;
  max-width: 770px;

  @include respond-to(laptops) {
    font-size: 28px;
  }
}

.feedback__link {
  color: $accent-color;
}
