.first-screen{
  background-image: url("../img/bg-first-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-bottom: 50px;
  @include respond-to(laptops) {
    background-size: 1766px 877px;
    margin: 0 5%;
    background-position: top;
  }
  @include respond-to(phones) {
    background-size: 1366px 477px;
  }
}

.first-screen__text-content {
  max-width: 1210px;
  margin-left: 17.344%;
  padding-top: 660px;
  @include respond-to(laptops) {
    margin: auto;
    margin-bottom: 20px;
  }
  @include respond-to(phones) {
    padding-top: 360px;
  }
}

.first-screen__title {
  max-width: 575px;
  margin-bottom: 50px;

  @include hide-block;
  transition-delay: 500ms;

  &.active-animation {
    @include show-block;
  }

  @include respond-to(laptops) {
    margin-bottom: 40px;
  }

  @include respond-to(tablets) {
    font-size: 36px;
    margin-bottom: 20px;
  }

  @include respond-to(phones) {
    font-size: 24px;
    margin-bottom: 15px
  }
}

.first-screen__advantages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include hide-block;
  transition-delay: 600ms;

  &.active-animation {
    @include show-block;
  }
}

.first-screen__advantage-item {
  font-family: $extra-font;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  color: #C0C0C0;
  max-width: 330px;
  margin-right: 10.992%;

  &:nth-child(2){
    max-width: 360px;
  }

  &:last-child {
    margin-right: 0;
  }

  @include respond-to(laptops) {
    font-size: 28px;
  }

  @include respond-to(tablets) {
    font-size: 20px;
  }

  @include respond-to(phones) {
    font-size: 12px;
    margin-right: 10px;
    width: 100px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.first-screen__b {
  color: #000;

  @include respond-to(phones){
    display: block;
  }
}
