html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0;
  :focus{
    outline-width: 1px;
    outline-color: $accent-color;
    outline-style: solid;
    outline-offset: 2px;
  }

  @include respond-to(laptops) {
    margin: auto 5%;
  }

  &_about {
    @include respond-to(laptops) {
      margin: auto 0;
    }
  }
}

.footer_about .wrap {
  display: flex;
  align-items: center;

  @include respond-to(phones){
    flex-wrap: wrap;
  }
}

.contact-details {
  display: inline-block;
  margin-top: 5px;

  @include respond-to(tablets){
    margin-top:2px;
  }
}

.lang, .year, .mail, .phone {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #3B3B3B;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
  white-space: nowrap;

  @include respond-to(laptops){
    margin-right: 20px;
  }
  @include respond-to(tablets) {
    font-size: 12px;
    margin-right: 25px;
  }
}

.year {
  margin-right: 40px;
  @include respond-to(tablets) {
    margin-right: 25px;
  }
}

.mail, .phone {
  display: block;
  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.mail {
  margin-right: 10px;

  @include respond-to(tablets){
    display: none;
  }
}

.footer-menu{
  @include respond-to(tablets) {
    display: none;
  }

  &__list {
    white-space: nowrap;
  }

  &__item{
    display: inline-block;
    margin-right: 44px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: #3B3B3B;
    text-decoration: none;
    cursor: pointer;
  }
}


.footer_home{
  margin-left: 19.635%;
  margin-right: 19.635%;

  @include respond-to(laptops) {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 1210px;
  }
}

.footer-mail {
  display: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
  color: #3B3B3B;
  @include respond-to(tablets) {
    display: inline-block;
  }
}
