.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;

  :focus {
    outline-width: 1px;
    outline-color: $accent-color;
    outline-style: solid;
    outline-offset: 2px;
  }

  &_home {
    max-width: 1210px;
    margin-left: 17.344%;

    @include respond-to(laptops) {
      margin: auto 5%;
    }
  }
}

.wrap-home {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding-bottom: 15px;
  z-index: 100;
}

.logo {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #2F2F2F;
  text-decoration: none;

  @include respond-to(phones) {
    font-size: 16px;
  }

  &_home {
    letter-spacing: 0.2em;
    font-size: 25px;

    @include respond-to(phones) {
      font-size: 16px;
      letter-spacing: 0.05em;
    }
  }

  &_beta {
    display: flex;
  }

  &_beta:after {
    content: '';
    width: 29px;
    height: 17px;
    background-image: url("../img/beta.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    top: -5px;

    @include respond-to(phones) {
      width: 22px;
      height: 10px;
      background-size: contain;
    }
  }

  @include hide-block;

  &.active-animation {
    @include show-block;
  }
}

.main-menu {

  @include hide-block;
  transition-delay: 450ms;

  &.active-animation {
    @include show-block;
  }

  &__list {
    white-space: nowrap;
    @include respond-to(tablets) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      margin: 19px 0 30px;
    }

    @include respond-to(phones){
      margin: 10px 0 20px;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    @include respond-to(tablets) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: $main-color;
    cursor: pointer;
    display: inline-block;
    @include respond-to(tablets) {
      text-decoration: underline;
    }

    @include respond-to(phones){
      font-size: 12px;
    }
  }
}

.user-menu {
  @include hide-block;
  transition-delay: 500ms;

  @include respond-to(tablets) {
    transform: translate(0, 0);
    opacity: 1;
  }

  &.active-animation {
    @include show-block;
  }

  &__list {
    white-space: nowrap;
    @include respond-to(tablets) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  &__item {
    display: inline-block;
  }
}

.header_home {
  .main-menu {
    flex-basis: 35.5%;
  }

  .main-menu__link {
    font-size: 14px;
    @include respond-to(phones){
      font-size: 12px;
    }
  }

  .user-menu__link {
    font-size: 14px;
    @include respond-to(phones){
      font-size: 12px;
    }
  }
}


