.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  :focus{
    outline-width: 1px;
    outline-color: $accent-color;
    outline-style: solid;
    outline-offset: 2px;
  }

  &_home{
    max-width: 1210px;
    margin-left: 17.344%;

    @include respond-to(laptops) {
      margin: auto;
    }
  }
}

.wrap-home {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding-bottom: 15px;
  z-index: 100;
}

.logo {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #2F2F2F;
  text-decoration: none;

  &_home{
    letter-spacing: 0.2em;
    font-size: 25px;
  }

  &_beta:after {
    content: '';
    width: 29px;
    height: 17px;
    background-image: url("../img/beta.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    top: -5px;
  }
}

.main-menu {
  &__item {
    display: inline-block;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: $main-color;
    cursor: pointer;
    display: inline-block;
  }
}

.user-menu {
  &__item {
    display: inline-block;
  }
}

.header_home {
  .main-menu {
    flex-basis: 35.5%;
  }

  .main-menu__link {
    font-size: 14px;
  }

  .user-menu__link {
    font-size: 14px;
  }
}
