.motto {
  background-color: #100;
  background-image: url("../img/bg-everything.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 10.156% 50px;
  color: #fff;
  font-family: $extra-font;
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  box-sizing: border-box;
  padding: 90px 118px;
  margin-top: 61px;
  z-index: 50;
  position: relative;

  @include respond-to(laptops) {
    margin-right: auto;
    margin-left: auto;
    max-width: 1270px;
    font-size: 80px;
  }

  @include hide-block;
  transform: translate(0, 110%);
  transition-delay: 0ms;
  transition-property: transform;

  &.active-animation {
    @include show-block;
  }
}