$desktop: 1440px;
//$laptop: 1280px;
$oldDesktop: 1004px; //for 1024 (+scroll 20px)
//$tablet: 768px;

$laptop: 1680px;
$tablet: 1024px;
$phone: 480px;

@mixin respond-to($media) {
  @if $media == phones {
    @media only screen and (max-width: $phone) { //from 480
      @content;
    }
  } @else if $media == tablets {
    @media only screen and (max-width: $tablet) { //from 1024
      @content;
    }
  }@else if $media == laptops {
    @media only screen and (max-width: $laptop) { //from 1680
      @content;
    }
  }
}
