/*---------Structure--------*/
@mixin wrap-content($max-width: 1440px, $margin: auto) {
  max-width: $max-width;
  margin: $margin;
  box-sizing: border-box;
}

@mixin wrap-over($margin: auto, $background-color: $main-blue) {
  max-width: 1440px;
  margin: $margin;
  box-sizing: border-box;
  background-color: $background-color;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 24px;
  @include respond-to(tablets) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
  @media (max-width: 705px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include respond-to(phones) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*---------Text------*/
@mixin main-title($size: 72px, $line: 111%) {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: $size;
  line-height: $line;
  color: $main-blue;
}

@mixin section-title($size: 48px, $line: 125%, $color: $main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: $size;
  line-height: $line;
  color: $color;
  @include respond-to(medium-desktops){
    font-size: 40px;
  }
  @include respond-to(tablets) {
    font-size: 40px;
  }
  @include respond-to(phones) {
    font-size: 24px;
  }
}

@mixin block-title($color:$main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: $color;
}

@mixin text-big($size: 24px, $line: 150%, $color:$main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: $color;
}

@mixin text-normal($color:$main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  color: $color;
  @include respond-to(phones) {
    font-size: 14px;
  }
}

@mixin text-small($size: 14px, $line: 171%, $color:$main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $line;
  color: $color;
}

@mixin text-link($color:$main-blue) {
  font-family: $main-font;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 171%;
  color: $color;
  text-decoration: none;
}

/*------Images------*/
@mixin first-screen-img($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: right bottom;
}

@mixin basic-screen-img($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

